@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

body {
	background: rgb(240, 224, 196);
}

header {
	width: 100vw;
    height: 35px;
	background: none;
	top: 0;
	z-index: 1;
	padding: 0 5vw;
	font-family: 'Nunito Sans', sans-serif;
	position: fixed;
}

h1 {
	visibility: hidden;
	margin: 0;
	height: 0;
}

.show-menu, .hide-menu {
	display: block;
	font-size: 30px;
	cursor: pointer;
	transition: 0.3s;
	color: rgb(83,45,42);
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	float: right;
	width: 30%;
	height: 100%;
	line-height: 35px;
	background: #FCC245;
	right: -100%;
	top: 0;
	text-align: center;
	padding: 80px 0;
	transition: 0.5s;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	font-size: 13px;
}

.menu a {
	display: block;
	padding: 20px;
	margin-left: 0;
	color: #4d241f;
	transition: 0.5s;
}

.menu a:hover {
	font-size: 13px;
	font-weight: bold;
}

li {
	font-size: 12px;
}

.show-menu, .hide-menu {
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;
	color: rgb(83,45,42);
}

.show-menu {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.show-menu i {
	line-height: 50px;
}

.hide-menu {
	position: absolute;
	top: 35px;
	right: 5vw;
}

#toggle {
	font-size: 4vw;
	float: right;
	position: absolute;
	z-index: -1111;
	visibility: hidden;
}

#toggle:checked + .menu-container {
	right: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#start-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-left:10vw;
	padding-right: 10vw;
	background: rgb(83, 45, 42); 
	width: 100vw;
	min-height: 100vh;
}

.headline {
	display: block;
    text-align: center;
    margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
    line-height: 2;
    font-family: 'Inconsolata', monospace;
    color:rgb(252, 194, 69);
}

.view-project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

#view-project-button {
	width: auto;
	height: 40px;
	padding: 10px;
	border: 1px solid rgb(83,45,42);
	border-radius: 30px;
	background-color: rgb(252, 196, 77);
	color: rgb(83,45,42);
	vertical-align: center;
	line-height: 0;
	font-size: 13px;
	margin-bottom: 30px;
	cursor: pointer;
}

#view-project-button:hover {
	background-color: rgb(255, 212, 112);
	color: rgb(83,45,42);
}

#arrow-down {
	border: none;
	background: none;
	cursor: pointer;
	background: none;
	font-size: 10px;
}
  
#arrow-down i {
	color: rgb(252, 194, 69);
}
  
#arrow-down:hover {
	font-size: 14px;
	color: rgb(236, 167, 16);
	transition: 0.3s;
}

#project-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background: #fcd373; 
    color: #0a0302;
    width: 100vw;
    min-height: 100vh;
}

#project-container img {
	display: block;
	align-self: center;
	width: 60%;
	height: auto;
	border: double rgb(133, 68, 74);
}

.app-name {
	display: block;
    text-align: center;
	font-size: 15px;
	margin-top: 15px;	
}

.app-description {
	margin-top: 10px;
	font-size: 15px;
	padding-left: 15vw;
    padding-right: 15vw;
}

.tech-icon {
	display: flex;
	justify-content: flex-start;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
  
.tech-icon .fab {
	margin-left: 5px;
	margin-right: 5px;
	color: #0643a0;
}

.link-to-repo {
	align-self: center;
}

.link-to-repo a {
	font-size: 15px;
	color: #421e1b;
}

.link-to-repo a:hover {
	color: #0643a0;
	font-size: 16px;
	transition: 0.2s;
}

.app-github {
	margin-right: 5px;
}
  
.app-live {
	margin-left: 5px;
}

#contact-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
	padding-top: 8vh;
	padding-bottom: 5vh;
    padding-left: 11vw;
    padding-right: 10vw;
    font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	background: rgb(240, 224, 196);
    color: #22100d;
    width: 100vw;
    min-height: 100vh;
}

.seperate {
	margin-top: 10px;
}

.email-headline {
	font-weight: bold;
	margin-top: 18px;
}

#email {
	margin-left: 5px;
	color: rgb(34, 51, 150)
}

.contact-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
}

.contact-icon i {
	margin-right: 10px;
	font-size: 18px;
	line-height: 0;
    color: rgb(107, 20, 8);
}

#to-top-button {
	position: fixed;
	padding: 5px;
	background: none;
	align-self: flex-end;
	right: 0;
	bottom: 0;
	margin-bottom: 10px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

#to-top-button i {
	color: #4b231e;
}

footer {
	display: block;
	width: 100vw;
	text-align: center;
	margin-top: -1vh;
	font-size: 10px;
	background: rgb(240, 224, 196);
}

@media screen and (min-width: 800px) {  
	header {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	h1 {
		visibility: visible;
		height: 35px;
		float: left;
		margin: 0;
	}

	#logo {
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 35px;
		vertical-align: center;
		text-align: center;
		color: #4d241f;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 25%;
	}

	#toggle, .show-menu, .hide-menu {
		visibility: hidden;
	}

	.menu-container {
		width: 20%;
		height: 35px;
		right: 0;
		background: none;
		padding: 0;
	}

	.menu {
		flex-direction: row;
		justify-content: space-around;
		padding-right: 20vw;
	}

	.menu a {
		margin-left: 20px;
		padding: 0 10px;
		letter-spacing: 1.5;
		color:rgb(83,45,42);
	}

	.menu a:hover {
		font-size: 15px;
	}
	  
	li {
		font-size: 13px;
	}
	  
	.show-menu, .hide-menu {
		font-size: 30px;
		display: none;
	}
	
	.headline {
		font-size: 30px;
	}
	  
	#project-container {
		padding-top: 5vw;
		padding-left: 10vw;
		padding-right: 10vw;
	}
	 
	.app-name {
		font-size: 18px;
		margin-top: 20px; 
	}
	  
	.app-description {
		font-size: 16px;
	}
	  
	.link-to-repo a {
		font-size: 16px;
	}
	  
	.link-to-repo a:hover{
		font-size: 17px;
	}
	  
	#contact-container {
		padding-top: 5vh;
		padding-left: 16vw;
		padding-right: 15vw;
		font-size: 18px;
	}
	  
	.email-headline {
		margin-top: 20px;
	}
	  
	.contact-icon {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 10px;
	}
	  
	.contact-icon i {
		margin-right: 15px;
		font-size: 20px;
	}
	  
	#to-top-button {
		font-size: 20px;
	}
	  
	footer {
		font-size: 12px;
	}
} 
